/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;400;600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.yellow-div {
  width: 100%;
  height: 28px;
  background-color: #ffdc40;
}

body {
  margin: 0 auto;
}

.li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainList {
  border: solid 1px gray;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin-bottom: 25px;
  max-height: 105px;
  overflow-y: scroll;
}

.mainList::-webkit-scrollbar {
  width: 0;
}

.input-li {
  outline: none;
  border: none;
  overflow: scroll;
  padding-left: 15px;
}
p {
  font-weight: bold;
  font-size: 26px;
  margin-top: 17px;
}

#root {
  margin: 50px auto;
  max-width: 336px;
}

.form {
  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}

.toDoP {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.main-input {
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  padding: 5px;
  height: 27px;
  padding: 0 27px;
  margin-bottom: 20px;
}

.mainList {
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin-bottom: 20px;
}

#mainList {
  margin: 0;
}

.buttonSort {
  position: relative;
  left: 120px;
  border: 0;
  background-color: white;
  margin-bottom: 20px;
}

.image1:hover {
  opacity: 0.5;
}

.imageX {
  width: 100%;
  height: 100%;
}

.deleteButton:hover {
  background-color: #833ae0;
}

.img-up {
  background-image: url("assets/images/grayImage2.svg");
  position: relative;
  left: 120px;
  border: 0;
  background-color: white;
  margin-bottom: 20px;
  height: 15px;
  width: 25px;
}

.img-down {
  background-image: url("assets/images/grayImage1.svg");
  position: relative;
  left: 120px;
  border: 0;
  background-color: white;
  margin-bottom: 20px;
  height: 15px;
  width: 25px;
}

.img-up:hover {
  background-image: url("assets/images/sortImage2.svg");
  cursor: pointer;
}

.img-down:hover {
  background-image: url("assets/images/sortImage1.svg");
  cursor: pointer;
}

.deleteImage {
  background-image: url("assets/images/grayDeleteImage.svg");
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 10px;
}

.deleteImage:hover {
  background-image: url("assets/images/blueDeleteImage.svg");
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.buttonPlus {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #a77ee2;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 135px;
  font-size: 20px;
  color: white;
  border: none;
}

.buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #833ae0;
  border: 0px;
  border-radius: 20px;
  margin: 10px;
  width: 150px;
  height: 42px;
  cursor: pointer;
  color: white;
  padding-left: 30px;
}

.buttonAdd:hover {
  opacity: 0.7;
}